<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="run.py" 
                verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\python.exe|C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\wfastcgi.py" 
                resourceType="Unspecified" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Python39\python.exe" 
                arguments="C:\Python39\Lib\site-packages\wfastcgi.py" 
                instanceMaxRequests="10000" />
        </fastCgi>
    </system.webServer>
</configuration>
